# DPU Deployment Steps

## Step 1: DPU Explore the DPU

In this practice you will explore the DPU that is installed on your server. Using CLI command you will: 

* Download and install DOCA SDK 
* Connect to DPU using console 
* Download DPU’s BFB 
* Upgrade DPU BFB and firmware 
* Find out how many interfaces the DPU has 
* Find out the MAC address of the DPU 
* Configure and connect to the DPU using RSHIM network  
* Display OVS configuration 
* Review DPU interfaces 

1. Download and install DOCA SDK on Desktop

    1. Open the **Bastion Desktop** link in the left menu. Once you are logged in select the Bastion Desktop

        * Username: {{ guac_user }}
        * Password: {{ guac_pass }}

1. Access the DOCA SDK web site and download the appropriate DOCA SDK for Ubuntu 22.04 on X86. [Linux Installation Guide :: NVIDIA DOCA SDK Documentation](https://docs.nvidia.com/doca/sdk/installation-guide-for-linux/index.html#installation-files). 

> Note: This file has already been downloaded to your Desktop for convenience.

1. Upload the SDK installation file to your server 

    ```bash
    scp /home/nvidia/Desktop/doca-host* nvidia@gpu:~/Desktop
    ```
1. Connect to the server

    ```bash
    ssh nvidia@gpu
    ```

1. Unpack the DOCA repository file using:

    ```bash    
    sudo dpkg -i <SDK FILE NAME>
    ```

1. Update local repositories using:

    ```bash    
    sudo apt-get update
    ```

1. Install prerequisites on the host for the target DPU
1. Install doca-tools to manage and flash the BlueField DPU:

    1. Run "apt install" for doca-tools package

        ```bash
        sudo apt install -y doca-tools 
        ```

    1. Run "apt install" for doca-runtime and doca-sdk. 

        ```bash    
        sudo apt install -y doca-runtime doca-sdk
        ```

## Step 2: Download and install BlueField BFB 

1. Install minicom by using the command

    ```bash
    sudo apt install minicom
    ```

1. Login to BlueField DPU using console

    ```bash
    sudo minicom -D /dev/rshim0/console
    ```

    > Note: default username and password: ubuntu. If needed change the default username and password 

1. What version of BFB file is installed on the BlueField DPU. Use the command 

    ```bash
    cat /etc/os-release
    ```

1. Download latest BFB file from the web : [https://developer.nvidia.com/networking/doca](https://developer.nvidia.com/networking/doca)

1. Upload the FBF file to the host where the bluefield DPU is installed 
    
> Note: alternatively, the file `DOCA_2.2.0_BSP_4.2.0_Ubuntu_22.04-2.23-07.prod.bfb` can be located in the Download folder.

1. Install the bluefield DPU BFB file using the command

    ```bash
    host sudo bfb-install -b <bfb file name> -r /dev/rshim0/
    ```

1. After the installation is complete, login to the BlueField DPU and change the default password if needed. 

1. To install DPU firmware, run the script to update the BludField DPU firmware: 

    ```bash
    /opt/mellanox/mlnx-fw-updater/mlnx_fw_updater.pl
    ```

1. Power cycle the host (perform cold boot), and wait for the host to power up 

1. Enable MST service if not enabled using the command

    ```bash
    sudo mst start
    ```

1. Login to the BlueField DPU using console, and check the version of the BFB file. What is it?  

## Step 3: Explore the installed BlueField DPU 

1. Start the mst service by using the command 

    ```bash
    sudo mst start
    ```

1. Use the command 

    ```bash
    host # sudo mlxburn -d /dev/mst/<DPU ID> -vpd 
    ```        

    and examine the output. Use the "tab" button to automatically complete the DPU device ID 
    
1. What the speed of the interfaces of the BlueField DPU? _____________________ 

1. Is there OOB interface? Yes/No.  

1. If yes, what is the speed of the OOB interface? _____________________________ 

1. Is there BMC on the BlueField DPU? Yes/No 

1. If yes, how does it appear in the output of the command? ____________________ 

1. Use the following command 

    ```bash
    sudo flint -d /dev/mst/<DPU ID> q 
    ```        

    and examine the output. 

1. What the MAC address of your BlueField DPU? _____________________________ 
1. What the MAC address of your BlueField DPU BMC port? ____________________ 
1. What the MAC address of your BlueFIeld DPU OOB port? ____________________ 

## Step 4: Configure the rshim for SSH connection 

1. The interface that is connected to the BlueField DPU name is `tmfifo_net0`. Verify that the interface exists in the system using the command

    ```bash
    ifconfig or ip address
    ```

1. By default, the IP address on the BlueField DPU is `192.168.100.2/24`.  
1. In ubuntu, the netplan utility is responsible for IP address configuration. To configure the network interface on the host side to be connected to the IP address of the BlueField DPU, Use the following steps: 

    1. Edit the file `/etc/netplan/00-installer-config.yaml`, and add the following configuration in the "ethernets" section: 

    ```bash
    ethernets: 
        tmfifo_net0: 
        dhcp4: false 
        addresses: [192.168.100.1/24] 
    ```

    1. Apply the configuration using the command

    ```bash    
    sudo netplan apply 
    ```

1. Ping from the host to BlueField DPU. 

    1. Does the BlueField DPU respond to the ping request? Yes/No 

1. Use SSH to connect from the host to the BlueField DPU. 

    1. Where you successful? Yes/No 

## Step 5: Display OVS Configuration 

1. Display the OVS configuration using the following command: 

    ```bash
    sudo ovs-vsctl show
    ```

1. How many bridges are configured? `____`

1. Write the name of every bridge: 

    ```bash
    ________________________________ 
    ________________________________ 
    ________________________________ 
    ```

1. What interfaces configured under every bridge?

    ```bash
    ________________________________ 
    ________________________________ 
    ________________________________ 
    ```

## Step 6: DPU interfaces 

1. Review the interfaces in the DPU and on the host using the command

    ```bash
    ifconfig
    ``` 

    in the host and in the DPU.  

1. On the DPU using the command “ifconfig” identify the following interfaces: 

    | Interface Name | Function |
    |----------------|----------|
    | p0, p1| Uplinks |
    | ovsbr1, ovsbr2 | Bridge interfaces |
    | pf0hpf, pf1hpf | Host side PF representors |
    | enp3s0f0s0, en3f1pf1sf0 | SF Representors |
 
1. On the host use the command 

    ```bash
    sudo mst status -v
    ``` 
        
    ...to identify the interfaces connected to the DPU. Find the same interfaces in the command “ifconfig”. 

    * Write down the interface name `____________` 
  
1. On the host, use the command 

    ```bash
    sudo -i
    ``` 
        
    ...to open a shell with elevated privileges.  

1. Use the command 

    ```bash
    echo 2 > /sys/class/net/<DPU interface>/device/sriov_numvfs
    ```
        
    ...on the host to add two VFs.  

1. Again review the interfaces in the DPU and on the host using the command “ifconfig” in the host and in the DPU. 

1. Identify VF representors, what are their names on the host: `___________` on the DPU: `_____________` 